<%= provide(:title, 'Home') %>

<% if logged_in? %>
	<h1>New event</h1>
<% else %>
	<div class="center jumbotron">
		<h1>Welcome to Happening</h1>
		<h2>Want to host and attend awesome events?</h2>
		<%= link_to "Join here", new_user_path, class: "btn btn-lg btn-primary" %>
	<div>
<% end %>