<h1><%= @event.description.upcase %></h1>
<b>Event creator:</b>
<span><%= @event.creator.name.capitalize %></span>

<h2>Attendees:</h2>
<% if @attendees.any? %>
	<ol>
		<% @attendees.each do |attendee| %>
			<li>
				<%= attendee.name.capitalize %>
			</li>
		<% end %>
	</ol>
<% end %>
