<h1><%= @event.description.upcase %></h1>
<b>Event creator:</b>
<span><%= @event.creator.name %></span>
<% if current_user == @event.creator %>
	<%= link_to 'Invite', '#' %>
<% end %>

<h2>Attendees:</h2>
<% if @attendees.any? %>
	<ol>
		<% @attendees.each do |attendee| %>
			<li>
				<%= attendee.name.capitalize %>
			</li>
		<% end %>
	</ol>
<% end %>
