<header class="navbar navbar-fixed-top">
  <div class="container">
		<span>Logged in: <%= current_user.email %></span>
	  <nav>
		  <ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_url %>
			</ul>
		</nav>
	</div>
</header>
